@import url('./colors.css');

@font-face {
    font-family: 'SF Pro Display';
    src: url("../../public/fonts/SFProDisplay/SFPRODISPLAYMEDIUM.OTF") format("opentype");
}

@font-face {
    font-family: 'SF Pro Display';
    font-weight: bold;
    src: url("../../public/fonts/SFProDisplay/SFPRODISPLAYBOLD.OTF") format("opentype");
}

html {
    min-height: 100vh;
    background-color: var(--background-main);
}

body {
    min-height: 100vh;
    display: flex;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'SF Pro Display', 'Inter', sans-serif;
    font-style: normal;
    -webkit-tap-highlight-color: transparent;
    color: var(--text-primary);
}

a {
    text-decoration: none;
}

button {
    outline: none;
    border: none;
}

input, textarea {
    border: none;
    outline: none;
    letter-spacing: normal;
}

main {
    width: 920px;
    margin: 0 auto;
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    @media screen and (max-width: 920px) {
        width: 100%;
    }
}

#__next {
    width: 100%;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.article h1 {
    font-weight: 700;
    font-size: 50px;
    margin-top: 40px;
}

.article h3 {
    font-weight: 700;
    font-size: 36px;
    margin-top: 24px;
}

.article p, a {
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    color: #414141;
}

hr {
    display: block;
    width: 100%;
    height: 0.5px;
    background-color: var(--separator);
    outline: none;
    border: none;
}

@media screen and (max-width: 920px) {
    main {
        padding: 12px 16px;
    }
}