.wrapper {
      display: flex;
      flex-direction: column;
      gap: 4px;
      position: relative;
}

.wrapper > span {
      font-size: 14px;
      font-weight: 400;
      color: #696969;
}

.textFieldWrapper {
      display: flex;
      align-items: center;
      background-color: #F2F2F2;
      color: white;
      border-radius: 12px;
      height: 44px;
      justify-content: space-between;
      width: 100%;
      border: 1px solid transparent;
      transition: all 0.3s ease;
      overflow: hidden;
}

.valueName {
      font-size: 20px;
      font-weight: 500;
      color: #B5B5B5;
      transition: all 0.3s ease;
      padding-right: 16px;
}

/* .textFieldWrapperFocus {
      border: #1DA3FF solid 1px;
}

.textFieldWrapperFocus > .valueName {
      color: #1DA3FF;
} */

.textFieldWrapper > input, .textFieldWrapper > textarea {
      height: 100%;
      width: 100%;
      font-size: 16px;
      font-weight: 300;
      background-color: transparent;
      color: #414141;
      padding-left: 16px;
      padding-right: 16px;
}

.wrapper > .multifeald {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
}

.wrapper > .multifeald > .maxLength {
      margin-right: 16px;
      margin-bottom: 16px;
      color: #313131;
      font-weight: 500;
}


.textFieldWrapper > textarea {
      padding: 16px;
      scrollbar-width: auto; /* Устанавливаем ширину скроллбара (thin, auto, или none) */
      scrollbar-color: #999999 transparent; /* Устанавливаем цвет скроллбара */
      resize: none;
}

.textFieldWrapperFocus > .maxLength {
      color: #1DA3FF !important;
}

.textFieldWrapperFocus > input, .textFieldWrapperFocus > textarea {
      caret-color: #1DA3FF;
      scrollbar-color: #1DA3FF transparent; /* Устанавливаем цвет скроллбара */
}

.textFieldWrapper > input::placeholder, .textFieldWrapper > textarea::placeholder {
      color: #B5B5B5;
      font-weight: 300;
}
.textFieldWrapper:hover, .textFieldWrapper:hover {
      border: 1px solid #AEAEAE;
}
.textFieldWrapperFocus {
      box-shadow: 0 0 8px 2px rgba(26, 155, 255, 0.25);
      border: 1px solid #1B9CFF !important;
}
.disabled {
      opacity: 0.7;
      border: 1px solid transparent;
}

.disabled:hover {
      border: 1px solid transparent;
}