html {
    background: radial-gradient(
        175.96% 83.36% at 2.38% 8.15%,
        rgba(29, 163, 255, 0.2) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      #131313;
      min-height: 100vh;
      color: white;
}

body {
    min-height: 100vh;
    display: flex;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #1DA3FF;
    transition: color 0.3s ease;
}

a:hover {
    color: #3eb2ff !important;
}

a:active {
    transform: scale(0.95);
}


main {
    width: 920px;
    margin: 0 auto;
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    @media screen and (max-width: 920px) {
        width: 100%;
    }
}

.container {
    display: flex;
    flex: 1;
    flex-direction: column;
}