.mainInfo {
   display: flex;
   flex-direction: column;
   gap: 24px;  
   align-items: center;
   margin-top: 15%;
   flex: 1;
   /* overflow: auto; */
}

.topSection {
      display: flex;
      flex-direction: column;
      gap: 24px;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin-bottom: 40px;
}

@media screen and (max-width: 768px) {   
      .mainInfo {
            margin-top: 68px;
      }
      
      .title {
            display: flex;
            flex-direction: column;
            gap: 24px;
      }
}

.mac {
      width: 100%;
}

.wpObsView {
      width: 100%;
      position: relative;

      @media screen and (max-width: 900px) {
            display: none;
      }
}

.title > h1 {
      font-size: 96px;
      font-weight: 700;
      background: linear-gradient(90deg, #ffd788 -0.43%, #57bcff 94.3%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: center;

      @media screen and (max-width: 768px) {
            font-size: 36px;
            text-align: center;
            line-height: 36px;
      }
}

.title > p {
      font-size: 24px;
      text-align: center;
      font-weight: 400;

      @media screen and (max-width: 768px) {
            font-size: 22px;
            text-align: center;
      }
}

.title > p > span {
      color: #1DA3FF;
      font-weight: 600;
}