.headerWrapper {
    /* background-color: #000; */
    width: 100%;
    height: 64px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.headerLinks {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerLinks > a {
    font-size: 16px;
}

.link {
    margin-right: 12px;
}

.logo {
    font-size: 20px;
    color: white;
}

.logo > span {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerAccountInfo {
    display: flex;
    gap: 12px;
    align-items: center;
}

.iconAccountInfo {
    display: flex;
    align-items: center;
    gap: 8px;

    color: white;
    font-weight: 400;
    font-size: 16px;
}