.button {
      position: relative;
      box-shadow: 0 0 12px 0 rgba(32, 162, 255, 0.5);
      background: linear-gradient(135deg, #1d9eff 0%, #0881ff 100%);
      color: var(--button-text-primary);
      font-size: 16px;
      padding: 8px 16px;
      white-space: nowrap;
      border-radius: 12px;
      cursor: pointer;
      user-select: none;
      overflow: hidden;
      transition: 0.2s ease-in;
      z-index: 1;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
}

.button::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(135deg, #71c2ff 0%, #0881ff 100%);
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      z-index: -1;
    }

.small {
      max-height: 40px;
      min-height: 40px;
}

.medium {
      min-height: 44px;
      max-height: 44px;
}

@media screen and (min-width: 768px) {
      .button:hover::before {
            /* box-shadow: 0px 0px 0px 3px #1da5ff81; */
            /* transform: scale(1.02); */
            opacity: 1;
            /* background: linear-gradient(135deg, #71c2ff 0%, #0881ff 100%); */
      }
      .primary:hover::before {
            /* box-shadow: 0px 0px 0px 3px #1da5ff81; */
            /* transform: scale(1.02); */
            opacity: 1;
            /* background: linear-gradient(135deg, #71c2ff 0%, #0881ff 100%); */
      }
      .secondary:hover {
            /* transform: scale(1.02); */
            /* opacity: 0.8; */
      }
      .tertiary:hover {
            /* box-shadow: 0px 0px 0px 3px #1da5ff81; */
            /* transform: scale(1.02); */
            /* opacity: 0.8; */
      }      
      .disabled:hover {
            cursor: initial;
            opacity: 0.5;
      }
}

.button:active {
      transition: 0.14s;
      transform: scale(0.98);
}

.primary {
      font-size: 16px;
      font-weight: 500;
      white-space: nowrap;
}

.secondary {
      font-size: 16px;
      font-weight: 500;
      white-space: nowrap;
}

.tertiary {
      font-size: 16px;
      font-weight: 500;
      white-space: nowrap;
}

.accent_border {
      font-size: 16px;
      font-weight: 500;
      white-space: nowrap;
}

.disabled {
      opacity: 0.5;
}

.disabled:active {
      transform: scale(1);
}