.wrapper {
    display: flex;
    margin-bottom: 22px;
    border-radius: 20px;
    /* padding: 0 20px; */
    margin-top: 60px;
    justify-content: space-between;
    flex-direction: column;
}

.product {
    display: flex;
    justify-content: space-between;
}

.info {
    display: flex;
    margin-bottom: 24px;
    justify-content: space-between;
}

.info a {
    color: #A5A5A5;
}

.info a:hover {
    color: #1DA3FF;
}

.middleSide {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.middleSide > a {
    font-size: 14px;
}

.middleSide > p {
    font-weight: 700;
    font-size: 14px;
}

.separator {
    width: 2px;
    height: 18px;
    background-color: #171719;
    border-radius: 12px;
}

.leftSide > span {
    color: #A5A5A5;
}

.rightSide > span {
    font-size: 14px;
    color: #A5A5A5;
}