.wrapper {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      gap: 8px;
}

.wrapperSelectButtons {
      display: flex;
      flex-direction: column;
      gap: 4px;
}

.wrapperSelectButtons > span {
      font-size: 14px;
      font-weight: 400;
}


.button {
      background-color: #171719;
      border-radius: 16px;
      height: 48px;
      padding: 0px 16px;
      display: flex;
      align-items: center;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      transition: 0.3s;
      user-select: none;
      border: 1px solid transparent;
      white-space: nowrap;
      flex: 1;
      justify-content: center;
}

.active {
      background-color: #111B20;
      color: #1DA3FF;
      border: 1px solid #1DA3FF;
      flex: 1;
}

/* .otherBtn {
      flex: 1;
      justify-content: center;
} */